body {
    background-color: #797979; 
    font-family: Arial, sans-serif;
    color: #333333; 
}

h1 {
    background-color: #3d88ff; /* Fundo azul escuro */
    color: #ffffff;            /* Texto branco */
    text-align: center;        /* Alinhamento ao centro */
    padding: 20px;             /* Espaço interno para o texto respirar */
}

p {
    text-align: center;        /* Texto centralizado */
    color: #475569;            /* Tom de cinza para o texto */
}

ul {
    background-color: #ffffff; /* Fundo branco para a lista */
    padding: 20px;
    width: 300px;              /* Largura da caixa */
    margin: 0 auto;            /* Centraliza a caixa da lista na tela */
}